<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT ME!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
  </head>

<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- Logo -->
    <a class="navbar-brand"><img src="../alpha-logo.png" sizes="" alt="alpha logo" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links to the other pages -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id='ulForNavbar' class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"  href="../../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./products.html">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../Customers/Views/customer.html">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../Supplier/supplier.html">Supplier</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Edit the Product -->
<div class="container">
    <br>
    <form>
      <h2 class="display-4 mb-4">Edit the selected prodact</h2>
      <div class="form-row">
        <div class="col">
          <div id="productName" class="md-form mt-0">
            <!-- input for Name -->
            <input id="productInputName" type="text" class="form-control" placeholder="Product Name" value="">
          </div>
        </div>
        <div class="col">
          <div id="productType" class="md-form mt-0">
            <!-- input for Type -->
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="Food">Food</option>
                  <option value="NonFood">NonFood</option>
                  <option value="Services">Services</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Types</label>
                </div>
              </div>
            <!-- <input id="productInputType" type="text" class="form-control" placeholder="Product Type" value=""> -->
          </div>
        </div>
      </div>
      <br>
    </form>
    <!-- Success Alert -->
    <div id="alertIsNotDisplayedYet" class="alert alert-success" role="alert" style="display: none">
      <h4 class="alert-heading">Well done!</h4>
      <p>You have successfully edited the product</p>
      <hr>
      <a onclick="displayNone('alertIsNotDisplayedYet')" href="#" class="alert-link btn">Ok</a> 
    </div>
    
    <div class="d-flex"> 
      <!-- Update button -->
      <button id="updateProductButton"  type="submit" class="btn btn-primary mr-4" value="">Submit</button>
      <!-- <button onclick="deleteProducts(this.value)" class="btn btn-primary mr-4" id="deleteProduct" value="">Delete Product</button> -->
      <a href="products.html" ><button type="button" class="btn btn-primary mr-4">Back</button></a>
    </div>    
    <br>
  </div>

  <footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src="productEdit.js"></script>
    
    </footer>    
</body>
</html> 